.joinFriendForm {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.joinFriendForm h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinFriendForm input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #05948d;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.join-button{
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #0b6e69;
  color: #fff;
  cursor: pointer;
}

.join-button:hover {
  background: #2e2d2d;
}

.waiting-message{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 80px;
}
.block{
  position: relative;
  margin: 10% auto 0;
  width: 50%;
  height: 400px;
  background: linear-gradient(0deg, black, rgb(48, 47, 47));
}

.glow::before , .glow::after{
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(121.57deg, #00baaa 20%, #313a3a 80%);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: animate 20s linear infinite;
}
@keyframes animate{
  0%{
    background-position: 0 0;
  }

  50%{
    background-position: 400% 0;
  }

  100%{
    background-position: 0 0;
  }
}

.glow::after{
  filter: blur(40px);
}

