.letter-selection{
  margin: 30px;
  padding: 10px;
  text-align: center;
  font-size: 25px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.option{
  border-style: solid;
  border-color: black;
  background:  linear-gradient(121.57deg, #6ac991, #00e4d1 );
  color: rgb(0, 0, 0);
  padding: 30px;
  font-size: 60px;
  cursor: pointer;
}

.option-selected{
  border-style: solid;
  border-color: black;
  background: linear-gradient(121.57deg, #3b644c, #0d6d65 );
  color: aliceblue;
  padding: 30px;
  font-size: 60px;
  cursor: pointer;
}

@media screen and (max-width: 347px) {

  .letter-selection p {
    font-size: 17px;
  }

}
