.letter-selection{
  margin: 30px;
  padding: 10px;
  text-align: center;
  font-size: 25px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.option{
  border-style: solid;
  border-color: black;
  background-color: rgb(33, 190, 156);
  color: aliceblue;
  padding: 30px;
  font-size: 60px;
  cursor: pointer;
}

.option-selected{
  border-style: solid;
  border-color: black;
  background-color: rgb(12, 88, 76);
  color: aliceblue;
  padding: 30px;
  font-size: 60px;
  cursor: pointer;
}
