.game{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.chat-window{
  margin-left: 50px;
  margin-top: 100px;
}


.board {
  width: 650px;
  height: 650px;
  background-color: rgb(252, 252, 252);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.square {
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 60px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.square:active {
  background-color: lightgray;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
}

.end-game{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 60px;
  text-align: center;
  margin-top: 35px;
}

.full-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.restart-button{
  border: none;
  padding: 20px;
  background: linear-gradient(
    to bottom right,
    #007575,
    rgb(3, 19, 19)
    );
  color: rgb(255, 255, 255);
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {

  .board {
    width: 250px;
    height: 250px;
  }

  .square {
    font-size: 37px;
  }

  .end-game{
    font-size: 30px;
    margin-top: 50px;
  }

  .restart-button{
    border: none;
    padding: 10px;
    font-size: 18px;
    margin-top: -19px;
    margin-bottom: 19px;
  }

}

@media screen and (max-width: 1015px) {
  .flex-container{
    flex-direction: column;
  }
  .chat-window{
    margin: 0;
  }
}