.game{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.chat-window{
  margin-left: 50px;
  margin-top: 220px;
}


.board {
  width: 650px;
  height: 650px;
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  z-index: 10;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.square-o {
  flex: 33%;
  height: 100%;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 80px;
  color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to left, rgb(42, 99, 89), rgb(112, 189, 176));
}

.square-x {
  flex: 33%;
  height: 100%;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 80px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to left, rgb(42, 99, 89), rgb(112, 189, 176));
}


.square:active {
  background-color: lightgray;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
}

.end-game{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 60px;
  text-align: center;
  margin-top: 35px;
  z-index: 10;
  margin-bottom: -117px;
}

.full-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.restart-button{
  border: none;
  padding: 20px;
  background: linear-gradient(121.57deg, #5eb381, #00baaa );
  color: rgb(255, 255, 255);
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width: 800px) {

  .board {
    width: 220px;
    height: 220px;
    margin-top: 80px;
  }

  .chat-window{
    margin-left: 0;
    margin-top: 60px;
  }

  .square-o {
    font-size: 37px;
  }

  .square-x {
    font-size: 37px;
  }

  .end-game{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: -67px;
  }

  .restart-button{
    border: none;
    padding: 6px;
    font-size: 13px;
    margin-top: -25px;
    margin-bottom: 21px;
  }

}

@media screen and (max-width: 1015px) {
  .flex-container{
    flex-direction: column;
  }
}

@media screen and (max-height: 900px) {
  .board {
    width: 550px;
    height: 550px;
  }

}

@media screen and (max-height: 800px) {
  .board {
    width: 500px;
    height: 500px;
  }

}