i{
  position: absolute;
  height: 0px;
  background: linear-gradient(transparent, #00baaa);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: animate 5s linear infinite;
  z-index: 3;
  color: #00baaa;
  font-size: 40px;
}



@keyframes animate{
  0%{
    transform: translateY(-47vh);
  }
  100%{
    transform: translateY(47vh);
  }
}

@media screen and (max-height: 785px) {

  @keyframes animate{
    0%{
      transform: translateY(-33vh);
    }
    100%{
      transform: translateY(33vh);
    }
  }

}