.nav-menu > *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.navbar{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40px;
  background:linear-gradient(121.57deg, #00baaa , #5eb381 );
  color: white;
  position: fixed;
  width: 100%;
  z-index: 6;
}

.nav-links{
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item{
  padding: 19px 20px;
  cursor: pointer;
}

.nav-link{
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.mobile-menu-icon{
  display: none;
}

.icon{
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  margin-right: 10px;
  margin-bottom: 3px;
}

@media screen and (max-width: 800px) {
  .navbar{
    height: 32px;
  }

  .nav-link{
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

  .icon{
    font-size: 1.1rem;
  }

  .nav-item{
    padding: 10px;
    cursor: pointer;
  }
}