@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.App {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0%;
  padding: 0%;
}

@media screen and (max-width: 1015px) {
  .App{
    height: 130vh;
  }
}
